/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/scss/styles.scss ***!
  \****************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&Roboto:wght@500&family=Manrope:wght@700&display=swap);
/*!************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/scss/landing/styles.scss ***!
  \************************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans:wght@400;700&Roboto:wght@500&family=Manrope:wght@700&display=swap);
/*!********************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/scss/styles.scss (1) ***!
  \********************************************************************************************************************************************************************************************/
/* ====================================
            COLOR SCHEMES
=====================================*/
/* ====================================
             BREAKPOINTS
=====================================*/
/* ====================================
             BLOCK VALUES
=====================================*/
:root {
  --unit:             1em;
  --text-scale-ratio: 1.2;
  --font-xs:  calc(var(--unit) / var(--text-scale-ratio) / var(--text-scale-ratio));
  --font-sm:  calc(var(--font-xs) * var(--text-scale-ratio));
  --font-md:  calc(var(--font-sm) * var(--text-scale-ratio));
  --font-lg:  calc(var(--font-md) * var(--text-scale-ratio));
  --font-xs:  calc(var(--font-lg) * var(--text-scale-ratio));
  --font-xxs: calc(var(--font-xs) * var(--text-scale-ratio));
  --space-unit:       1em;
  --space-multiplier: 1.5;
  --space-xs:         calc(var(--space-unit) / var(--space-multiplier) / var(--space-multiplier));
  --space-sm:         calc(var(--space-xs) * var(--space-multiplier));
  --space-md:         calc(var(--space-sm) * var(--space-multiplier));
  --space-lg:         calc(var(--space-md) * var(--space-multiplier));
  --space-xl:         calc(var(--space-lg) * var(--space-multiplier));
  --space-xxl:        calc(var(--space-xl) * var(--space-multiplier));
  --space-xxxl:       calc(var(--space-xxl) * var(--space-multiplier));
  --space-xxxxl:      calc(var(--space-xxxl) * var(--space-multiplier)); }

html, body {
  margin: 0;
  padding: 0;
  font-size: calc(calc(calc(calc(var(--font-md) * 1.2) * 1.2) * 1.2) * 1.2);
  font-size: var(--font-md); }

html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 calc(calc(calc(1em / 1.5 / 1.5) * 1.5) * 1.5);
  padding: 0 var(--space-md); }

.full-screen-container {
  width: 100%;
  height: 100vh; }

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .flex-center-center__element {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

/* ====================================
              BUTTONS
=====================================*/

/*!****************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./client/scss/landing/styles.scss (1) ***!
  \****************************************************************************************************************************************************************************************************/
/* ====================================
            COLOR SCHEMES
=====================================*/
/* ====================================
             BREAKPOINTS
=====================================*/
/* ====================================
             BLOCK VALUES
=====================================*/
:root {
  --unit:             1em;
  --text-scale-ratio: 1.2;
  --font-xs:  calc(var(--unit) / var(--text-scale-ratio) / var(--text-scale-ratio));
  --font-sm:  calc(var(--font-xs) * var(--text-scale-ratio));
  --font-md:  calc(var(--font-sm) * var(--text-scale-ratio));
  --font-lg:  calc(var(--font-md) * var(--text-scale-ratio));
  --font-xs:  calc(var(--font-lg) * var(--text-scale-ratio));
  --font-xxs: calc(var(--font-xs) * var(--text-scale-ratio));
  --space-unit:       1em;
  --space-multiplier: 1.5;
  --space-xs:         calc(var(--space-unit) / var(--space-multiplier) / var(--space-multiplier));
  --space-sm:         calc(var(--space-xs) * var(--space-multiplier));
  --space-md:         calc(var(--space-sm) * var(--space-multiplier));
  --space-lg:         calc(var(--space-md) * var(--space-multiplier));
  --space-xl:         calc(var(--space-lg) * var(--space-multiplier));
  --space-xxl:        calc(var(--space-xl) * var(--space-multiplier));
  --space-xxxl:       calc(var(--space-xxl) * var(--space-multiplier));
  --space-xxxxl:      calc(var(--space-xxxl) * var(--space-multiplier)); }

html, body {
  margin: 0;
  padding: 0;
  font-size: calc(calc(calc(calc(var(--font-md) * 1.2) * 1.2) * 1.2) * 1.2);
  font-size: var(--font-md); }

html, body, * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 calc(calc(calc(1em / 1.5 / 1.5) * 1.5) * 1.5);
  padding: 0 var(--space-md); }

.full-screen-container {
  width: 100%;
  height: 100vh; }

.flex-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .flex-center-center__element {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }

/* ====================================
              BUTTONS
=====================================*/
/* ====================================
                COLORS
=====================================*/
/* ====================================
             BLOCK VALUES
=====================================*/
/* ====================================
              TYPOGRAPHY
=====================================*/
.landing-container {
  max-width: 1272px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%; }
  .landing-container_pr-0 {
    padding-right: 0; }

.bold,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-style: normal; }

h1 {
  font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (64 - 35) + 35 * 1px);
  line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (70 - 40) + 40 * 1px); }

h2 {
  font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (51 - 24) + 24 * 1px);
  line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (62 - 29) + 29 * 1px); }

p {
  font-family: "Noto Sans";
  font-weight: normal; }

.img {
  max-width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (332 - 161) + 161 * 1px);
  height: auto; }

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.transform-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

html,
body {
  background: black;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (18 - 16) + 16 * 1px);
  line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (25 - 22) + 22 * 1px); }

a {
  color: #fff; }

.header {
  height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (116 - 85) + 85 * 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .header__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    max-width: 396px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (22 - 10) + 10 * 1px);
    gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (22 - 10) + 10 * 1px); }
    .header__logo-container > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
  .header__login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 12px;
    gap: 12px; }
    .header__login-container > * {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto; }
  .header__login-logo {
    display: block;
    width: 26px;
    height: 25px; }
  .header__login {
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (18 - 14) + 14 * 1px);
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (25 - 19) + 19 * 1px);
    text-underline-offset: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (2 - 10) + 10 * 1px);
    line-height: 1; }
  @media (max-width: 375px) {
    .header__logo-container {
      padding-left: 6px; }
    .header__login-logo {
      display: none; } }

.logo {
  width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (78 - 38) + 38 * 1px);
  height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (76 - 36) + 36 * 1px); }

.logo-subtext {
  width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (96 - 46) + 46 * 1px);
  height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (25 - 12) + 12 * 1px); }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (34 - 74) + 74 * 1px);
  padding-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (25 - 21) + 21 * 1px); }
  .main__full-height {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
  .main__auto-height {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-x: hidden;
  grid-gap: 1rem;
  gap: 1rem;
  padding-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (85 - 56) + 56 * 1px);
  padding-right: calc( ((clamp(600 * 1px, 100vw, 1440 * 1px) - 600 * 1px) / (1440 - 600)) * (84 - 0) + 0 * 1px); }
  .greeting__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 240px;
            flex: 1 0 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (129 - 24) + 24 * 1px);
    gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (129 - 24) + 24 * 1px);
    padding-top: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (94 - 47) + 47 * 1px); }
  .greeting__title {
    margin: 0; }
  .greeting__subtitle {
    margin: 0;
    max-width: 500px;
    padding-left: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (107 - 0) + 0 * 1px);
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (20 - 16) + 16 * 1px);
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (27 - 22) + 22 * 1px); }
    @media (max-width: 375px) {
      .greeting__subtitle > br {
        display: none; } }
  .greeting__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }

.greeting-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (63 - 0) + 0 * 1px);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: 33px;
  gap: 33px; }
  .greeting-actions__download {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (35 - 24) + 24 * 1px);
    font-family: "Montserrat";
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (70 - 29) + 29 * 1px);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold; }
  .greeting-actions__brands {
    grid-gap: 26px;
    gap: 26px; }
  @media (max-width: 375px) {
    .greeting-actions {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.brand-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .brand-badges > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .brand-badges a {
    text-decoration: none;
    line-height: 0; }
  .brand-badges__appstore img {
    max-width: 163px;
    height: auto; }
  .brand-badges__play > img {
    max-width: 184px;
    height: auto; }

.cookie {
  background: #222935;
  position: relative; }
  .cookie__container {
    height: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-right: 166px; }
  .cookie__message {
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (14 - 12) + 12 * 1px);
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (19 - 16) + 16 * 1px); }
  .cookie__float-button {
    position: absolute;
    top: 50%;
    right: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (22 - 16) + 16 * 1px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    min-width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (132 - 92) + 92 * 1px);
    padding: 20px;
    border: 0.5px solid #fff;
    border-radius: 6px;
    text-transform: uppercase; }
    .cookie__float-button:hover, .cookie__float-button:focus {
      background: black; }

.mission {
  padding-top: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (60 - 48) + 48 * 1px);
  padding-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (469 - 96) + 96 * 1px); }

.motivations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (81 - 30) + 30 * 1px);
  gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (81 - 30) + 30 * 1px); }
  .motivations__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 503px;
            flex: 0 1 503px;
    min-width: 250px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 21.3px;
    padding: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (62 - 37) + 37 * 1px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .motivations__card > *:last-child {
      margin-bottom: 0; }
  .motivations__header {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (30 - 24) + 24 * 1px);
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (41 - 33) + 33 * 1px);
    margin: 0 0 30px 0; }
  .motivations__link {
    font-size: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (24 - 18) + 18 * 1px);
    line-height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (33 - 25) + 25 * 1px); }

.mission-definition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (70 - 30) + 30 * 1px);
  gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (70 - 30) + 30 * 1px);
  padding: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (246 - 110) + 110 * 1px) 0 0 0;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse; }
  .mission-definition__img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50px;
            flex: 1 0 50px;
    position: relative; }
  .mission-definition__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (500 - 172) + 172 * 1px);
    -webkit-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: translate(100%) rotateZ(90deg);
            transform: translate(100%) rotateZ(90deg); }
  .mission-definition__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
    max-width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .mission-definition__text {
    max-width: 325px; }
  @media (max-width: 375px) {
    .mission-definition {
      grid-gap: 172px;
      gap: 172px; }
      .mission-definition__text-container {
        padding-right: 47px; }
      .mission-definition__img-container {
        -webkit-box-flex: 1;
            -ms-flex: 1 0 100%;
                flex: 1 0 100%;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .mission-definition__img {
        position: relative;
        top: auto;
        right: auto;
        -webkit-transform: none;
                transform: none; } }

.text-block > *:last-child {
  margin-bottom: 0; }

.text-block__header {
  margin: 0 0 23px 0; }

.text-block__lead {
  margin: 0; }

.id-scanner {
  padding-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (103 - 72) + 72 * 1px); }
  .id-scanner__bg-img-container {
    height: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (836 - 263) + 263 * 1px);
    position: relative;
    overflow: hidden;
    margin-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-464 - -40) + -40 * 1px); }
    .id-scanner__bg-img-container::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      -webkit-box-shadow: 0 calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-200 - -100) + -100 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (125 - 75) + 75 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-50 - -25) + -25 * 1px) black inset, 0 calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (200 - 100) + 100 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (125 - 75) + 75 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-50 - -25) + -25 * 1px) black inset;
              box-shadow: 0 calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-200 - -100) + -100 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (125 - 75) + 75 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-50 - -25) + -25 * 1px) black inset, 0 calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (200 - 100) + 100 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (125 - 75) + 75 * 1px) calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (-50 - -25) + -25 * 1px) black inset; }
  .id-scanner__bg-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    z-index: 0; }
  .id-scanner__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (30 - 70) + 70 * 1px);
    gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (30 - 70) + 70 * 1px); }
  .id-scanner__img-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (50 - 22) + 22 * 1px);
    gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (50 - 22) + 22 * 1px);
    position: relative;
    z-index: 2; }
  .id-scanner__img {
    max-width: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (332 - 287) + 287 * 1px); }
  .id-scanner__text-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 2; }
  .id-scanner__text {
    max-width: 317px; }
  @media (max-width: 375px) {
    .id-scanner__text {
      max-width: 100%; } }

.bi {
  padding-top: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (103 - 72) + 72 * 1px);
  padding-bottom: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (230 - 38) + 38 * 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (30 - 25) + 25 * 1px);
  gap: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (30 - 25) + 25 * 1px); }
  .bi__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-top: calc( ((clamp(375 * 1px, 100vw, 1440 * 1px) - 375 * 1px) / (1440 - 375)) * (89 - 0) + 0 * 1px); }
  .bi__lead {
    max-width: 395px; }
  .bi__img-container {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px; }
  .bi__img {
    max-width: 100%;
    max-height: 900px; }
    .bi__img_mobile {
      display: none; }
    .bi__img_desktop {
      display: block; }
  @media (max-width: 375px) {
    .bi {
      overflow: hidden; }
      .bi__img-container {
        margin: 0 -16px; }
      .bi__img {
        max-width: none;
        max-height: 296px; }
        .bi__img_mobile {
          display: block; }
        .bi__img_desktop {
          display: none; } }

