html,
body {
  background: $black;
  color: $white;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: $font;
  line-height: $line;
  --border-color: #{$border-color};
  --red: #{$red};
  overflow-x: hidden;
}

html,
body,
* {
  z-index: 0;
}

a {
  color: $white;
}

.header {
  height: $header-h;
  margin-bottom: calc(#{$header-h} * -1);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;
  z-index: 99;

  &__body {
    flex: 1 1 auto;
    max-width: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $header-logo-container-gap;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__login-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: $header-login-container-gap;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__login-logo {
    display: block;
    width: $header-login-w;
    height: $header-login-h;
  }

  &__login {
    font-size: $header-login-a-font;
    line-height: $header-login-a-line;
    text-underline-offset: $header-login-a-und-off;
    line-height: 1;
  }

  @media (max-width: $min-content-w * 1px) {
    &__logo-container {
      padding-left: $header-logo-container-p;
    }

    &__login-logo {
      display: none;
    }
  }
}

.logo {
  width: $logo-w;
  height: $logo-h;
}

.logo-subtext {
  width: $logo_subtext-w;
  height: $logo_subtext-h;
}

.main {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: column nowrap;
  padding-top: calc(#{$main-pt} + #{$header-h});
  padding-bottom: $main-pb;
  overflow: hidden;

  &__full-height {
    flex: 1 1 auto;
  }

  &__auto-height {
    flex: 0 0 auto;
  }
}

.greeting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  gap: 1rem; // for safety
  padding-bottom: $greeting-pb;
  padding-right: $greeting-pr;
  position: relative;
  z-index: 0;

  &__text-container {
    flex: 1 0 240px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: $greeting-text-container-gap;
    padding-top: $greeting-text-container-pt;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    position: relative;
    z-index: -1;
    margin: 0;
    max-width: 500px; // for safety
    padding-left: $greeting-subtitle-pl;
    font-size: $greeting-subtitle-font;
    line-height: $greeting-subtitle-line;
  }

  &__subtitle::before,
  &__subtitle::after {
    content: "";
    position: absolute;
  }

  &__subtitle::before {
    @extend .line;
    z-index: -1;
    top: 25%;
    transform: translateX(-100%) rotate(120.61deg);
  }

  &__subtitle::after {
    @extend .flash, .flash_purple;
    z-index: -2;
    top: -100%;
    transform: translateX(-100%);
  }

  &__img-container {
    position: relative;
    z-index: -1;
    flex: 0 0 auto;
  }

  &__flash {
    position: absolute;
    width: calc(100% + 100px);
    top: -14%;
    left: -31%;
    z-index: -1;
  }

  &__flash::before,
  &__flash::after {
    display: block;
    content: "";
    height: 250px;
    background: hsl(299, 100%, 50%);
    opacity: 0.3;
    border-radius: 50%;
    position: relative;
    filter: blur(100px);
  }

  &__flash::before {
    @include randomMoving(200, 53, true, "left", "top");
  }

  &__flash::after {
    height: 400px;
    transform: translate(50%, -50%) rotate(60deg);
    @include randomMoving(200, 47, true, "left", "top");
  }

  @media (max-width: $min-content-w * 1px) {
    &__flash {
      left: -72%;
    }

    &__flash::before,
    &__flash::after {
      opacity: 0.5;
    }
  }
}

.greeting-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $greeting-actions-pr;
  flex-wrap: wrap;
  gap: $greeting-actions-min-gap;

  &__download {
    flex: 0 0 auto;
    font-size: $greeting-download-font;
    font-family: "Montserrat";
    line-height: $greeting-download-line;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }

  &__brands {
    gap: $greeting-brands-gap;
  }

  @media (max-width: $min-content-w * 1px) {
    justify-content: center;
  }
}

.cookie {
  background: $dark-gray;
  position: relative;
  opacity: 1;
  visibility: visible;

  transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out;

  &_fixed {
    position: fixed;
    z-index: 3;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &_closed {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s;
  }

  &__container {
    height: $cookie-container-h;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: $cookie-container-pr;
  }

  &__message {
    font-size: $cookie-message-font;
    line-height: $cookie-message-line;
  }

  &__float-button {
    position: absolute;
    top: 50%;
    right: $cookie-float-button-right;
    transform: translateY(-50%);
    min-width: $cookie-float-button-min-w;
    text-transform: uppercase;
  }
}

.mission {
  padding-top: $mission-pt;
  padding-bottom: $mission-pb;
}

.motivations {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: $motivations-gap;

  &__card {
    flex: 0 1 $motivations-max-card-w;
    min-width: 250px; // pointless value, just for safety. It helps when the cards are too small
    border: $motivations-card-border;
    border-radius: $motivations-card-border-r;
    padding: $motivations-card-p;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: $motivations-card-header-font;
    line-height: $motivations-card-header-line;
    margin: $motivations-card-header-m;
  }

  &__link {
    font-size: $motivations-card-link-font;
    line-height: $motivations-card-link-line;
  }
}

.mission-definition {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: $m-definition-gap;
  padding: $m-definition-pt 0 0 0;
  flex-wrap: wrap-reverse;

  &__img-container {
    flex: 1 0 $m-definition-img-basis;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: $m-definition-img-max-w;
    transform-origin: top left;
    transform: translate(100%) rotateZ(90deg);
    filter: drop-shadow(0 0 3em rgba($white, 0.1));
  }

  &__text-container {
    flex: 1 1 $m-definition-text-max-w;
    max-width: $m-definition-text-basis;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__header-with-flash {
    position: relative;
  }

  &__flash-container {
    position: absolute;
    z-index: -1;
    top: 10%;
    left: 50%;
  }

  &__flash {
    position: relative;
    @include randomMoving(100, 20, true, "left", "top");
    opacity: 0.5;
  }

  &__text {
    max-width: $m-definition-textc-max-w;
  }

  @media (max-width: $min-content-w * 1px) {
    gap: $m-definition-gap-m;

    &__text-container {
      padding-right: $m-definition-text-pr-m;
    }

    &__img-container {
      flex: 1 0 100%;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &__img {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
    }

    &__flash-container {
      top: -100%;
      left: -13%;
    }
  }
}

.id-scanner {
  padding-bottom: $id-pb;

  &__bg-img-container {
    height: $id-img-container-h;
    position: relative;
    overflow: hidden;
    margin-bottom: $id-img-container-mb;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $tuned-gradient;
    }
  }

  &__bg-img {
    flex: 0 0 auto;
    z-index: 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: $id-content-gap;
  }

  &__img-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: $id-images-gap;
    position: relative;
    z-index: 2;
  }

  &__img {
    max-width: $id-images-img-max-w;
  }

  &__text-container {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__text {
    max-width: $id-textc-max-w;
  }

  @media (max-width: $min-content-w * 1px) {
    &__text {
      max-width: 100%;
    }
  }
}

.bi {
  padding-top: $bi-pt;
  padding-bottom: $bi-pb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $bi-gap;

  &__text {
    position: relative;
    flex: 0 1 auto;
    padding-top: $bi-text-pt;
  }

  &__lead {
    max-width: $bi-text-lead-max-w;
  }

  &__flash {
    display: block;
    position: absolute;
    top: -19%;
    left: -41%;
    z-index: -1;
    opacity: 0.1;
  }

  &__img-container {
    flex: 1 1 $bi-img-container-max-basis;
  }

  &__img {
    max-width: 100%;
    max-height: $bi-img-max-height;

    &_mobile {
      display: none;
    }

    &_desktop {
      display: block;
    }
  }

  @media (max-width: $min-content-w * 1px) {
    overflow: hidden;

    &__flash {
      display: none;
    }

    &__img-container {
      margin: $bi-img-containter-m-m;
    }

    &__img {
      max-width: none;
      max-height: $bi-img-max-height-m;

      &_mobile {
        display: block;
      }

      &_desktop {
        display: none;
      }
    }
  }
}

.qr-pre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: $qr-pb;

  & > *:not(:only-child):first-child {
    padding-bottom: $qr-first-container-pb;
  }

  &__container {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    &_primary {
      flex-basis: $qr-container-primary-basis;
    }

    &_secondary {
      flex-basis: $qr-container-secondary-basis;
      align-items: flex-start;
    }
  }

  &__img-container {
    width: 100%;
    min-height: $qr-img-min-h;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &_tuned::before {
      @extend .abs-full;
      content: "";
      z-index: 1;
      background: $tuned-gradient;
    }
  }

  &__night-img {
    width: $qr-bg-img-w;
    position: absolute;
    right: $qr-night-img-r;
  }

  &__text-container {
    position: relative;
    width: 100%;
    max-width: $qr-text-block-max-w;
    padding: 0 $qr-text-px;
    margin-top: $qr-text-block-mt;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__text-wrapper {
  }

  &__text {
    margin-bottom: $qr-text-mb;
  }

  &__badges {
    gap: $qr-badge-gap;
  }

  &__phone-container {
    flex: 1 1 $qr-phone-container-basis;
    gap: $qr-phone-container-gap;
    padding: 0 $qr-phone-container-px;
    margin: $qr-phone-container-m;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  &__phone-wait-container {
    align-self: flex-start;
  }

  &__phone-wait,
  &__phone-cooking {
    max-width: $qr-phone-max-w;
  }

  &__phone-cooking-container {
    align-self: flex-end;
  }

  @media (max-width: $min-content-w * 1px) {
    &__bg-img {
      right: -51px;
      left: auto;
    }
    &__night-img {
      right: 0;
      left: 33px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.qr-gen {
  padding-top: $qrgen-pt;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $qrgen-gap;

  &__img-wrapper {
    position: relative;
    width: 100%;
  }

  &__img-container {
    padding-bottom: $qrgen-pb;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img-with-arrow {
    position: relative;
  }

  &__img {
    max-width: $qrgen-img-max-w;
  }

  &__bg-text-container {
    z-index: -1;
    font-size: $qrgen-bgtext-font;
    text-transform: uppercase;
    font-family: "Manrope";
    font-weight: 800;
  }

  &__bg-text1,
  &__bg-text2,
  &__bg-text3,
  &__bg-text4 {
    position: absolute;
    color: rgba(55, 43, 67, 0.62);
    opacity: 0.5;
  }

  &__bg-text1 {
    $left: autoFont(10, 73, $min-content-w, $max-content-w);
    top: 23%;
    left: calc(50% - #{$left});
    transform: translate(-100%, -50%);
  }

  &__bg-text2 {
    $left: autoFont(30, 70, $min-content-w, $max-content-w);
    top: 23%;
    left: calc(50% + #{$left});
    transform: translate(0%, -50%);
  }

  &__bg-text3 {
    $left: autoFont(40, 100, $min-content-w, $max-content-w);
    top: 67%;
    left: calc(50% - #{$left});
    transform: translate(-100%, -50%);
  }

  &__bg-text4 {
    $left: autoFont(40, 250, $min-content-w, $max-content-w);
    top: 61%;
    left: calc(50% + #{$left});
    transform: translate(0%, -50%);
  }

  &__flash {
    position: absolute;
    z-index: -2;
    --flash-radius: 250px;
    max-width: 900px;
    opacity: 0.3;
  }

  &__arrow-container {
    position: absolute;
    top: $qrgen-arrow-top;
    right: $qrgen-arrow-right;
    transform: translateX(100%);
  }

  &__arrow {
    max-width: $qrgen-arrow-max-w;
  }

  &__sign {
    margin: $qrgen-sign-m;
    position: relative;
    left: $qrgen-sign-left;
  }

  &__text-container {
    width: 100%;
  }

  &__lead {
    max-width: $qrgen-text-max-w;
  }

  @media (max-width: 700px) {
    flex-direction: column-reverse;

    br {
      display: none;
    }

    &__arrow-container {
      position: absolute;
      top: $qrgen-arrow-top-m;
      right: $qrgen-arrow-right-m;
    }

    &__arrow {
      transform: rotateZ($qrgen-arrow-rot);
    }

    &__sign {
      margin: $qrgen-sign-m-m;
    }

    &__bg-text1 {
      top: 35%;
    }

    &__bg-text2 {
      top: 35%;
    }

    &__bg-text3 {
      top: 55%;
    }

    &__bg-text4 {
      top: 53%;
    }
  }
}

.features {
  padding-top: $features-pt;
  position: relative;

  &__text-container {
    max-width: $features-textcont-max-w;
    margin: 0 $features-textcont-mr 0 auto;
  }

  &__img-with-badges {
    max-width: $features-imgb-max-w;
    margin: 0 auto;
    padding: $features-imgb-p;
    position: relative;
  }

  &__flash {
    position: absolute;
    z-index: -1;
    top: 22%;
    right: -10em;
    opacity: 0.2;
  }

  &__top,
  &__left,
  &__bottom,
  &__right {
    position: absolute;
    max-width: $features-badges-max-w;
  }

  &__top {
    top: 22%;
    right: 31%;
    transform: translate(50%, -50%);
  }

  &__left {
    top: 41%;
    left: -1%;
    transform: translate(0%, -50%);
  }

  &__bottom {
    top: 76%;
    right: 60%;
    transform: translate(0%, -100%);
  }

  &__right {
    top: 63%;
    right: 0%;
  }

  @media (max-width: $min-content-w * 1px) {
    &__text-container {
      margin-bottom: 165px;
    }

    &__top {
      top: 8%;
      right: 27%;
    }

    &__left {
      top: -14%;
      left: 5%;
    }

    &__bottom {
      top: 87%;
      right: 69%;
    }

    &__right {
      top: 110%;
      right: -31%;
      transform: translate(-100%, -100%);
    }
  }
}

.enq {
  padding-top: $enq-pt;
  padding-bottom: $enq-pb;

  &__img-container {
    display: block;
    padding: $enq-imgcont-py 16px;
    position: relative;
    overflow: hidden;
  }

  &__img-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $tuned-gradient;
  }

  &__img-container::after {
    content: "NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB NOTAB ";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translate(-50%, -50%);
    width: 200%;
    height: 100%;
    word-spacing: $enq-textbg-ws;
    font-size: $enq-textbg-font;
    line-height: 1;
    color: black;
    text-shadow: 0 0 2px white;
    z-index: 0;
  }

  &__img {
    position: relative;
    max-width: 859px;
    width: 100%;
    margin: 0 auto;
    display: block;
    z-index: 2;
  }

  &__content {
    position: relative;
    margin: 0 auto;
    max-width: 818px;
  }

  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-bottom: $enq-text-mb;
  }

  &__submit {
    max-width: $enq-submit-max-w;
    width: 100%;
  }

  &__flash1,
  &__flash2 {
    position: absolute;
    z-index: -1;
    opacity: 0.3;
  }

  &__flash1 {
    top: -6%;
  }

  &__flash2 {
    right: -46%;
    bottom: 1%;
  }

  @media (max-width: $min-content-w * 1px) {
    &__img-container {
      display: none;
    }
  }
}

.footer {
  padding-top: $footer-pt;
  padding-bottom: $footer-pb;
  overflow: hidden;

  &__links {
    padding-bottom: $footer-links-pb;
  }

  &__links-header {
    text-transform: uppercase;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    margin: 0 0 $footer-linkh-mb 0;
  }

  &__badges {
    gap: $footer-badges-gap;
  }

  &__info-panel {
    padding-top: $footer-info-panel-pt;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-flow: row wrap-reverse;
    gap: $footer-info-panel-gap;
    font-family: "Anevir", sans-serif;
    position: relative;
  }

  &__info {
    flex: 0 1 auto;
  }

  &__header {
    font-family: "Manrope", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1;
    letter-spacing: $footer-infoh-ls;
    margin: 0 0 $footer-infoh-mb 0;
  }

  &__copyright,
  &__contacts {
    font-size: $footer-contacts-font;
    line-height: $footer-contacts-line;
    font-family: "Anevir", sans-serif;
  }

  &__contacts {
    font-weight: normal;
    margin: 0 0 $footer-contacts-mb;
  }

  &__email {
    font-weight: bold;
  }

  &__copyright {
    margin: 0;
  }

  &__nav-links {
  }

  &__link-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link {
    font-size: $footer-navlinks-font;
    line-height: $footer-navlinks-line;
    letter-spacing: 0.5px;
  }

  &__link:not(:last-child) {
    margin-bottom: $footer-navlinks-link-mb;
  }

  &__flash {
    position: absolute;
    z-index: -1;
    left: -10%;
    top: 0%;
    opacity: 0.3;
    transform: rotate(45deg);
  }

  @media (max-width: $min-content-w * 1px) {
    &__info-panel {
      justify-content: center;
      text-align: center;
    }
  }
}
