html,
body {
  background: $black;
  color: $white;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: $font;
  line-height: $line;
}

a {
  color: $white;
}

.header {
  height: $header-h;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  &__body {
    flex: 1 1 auto;
    max-width: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $header-logo-container-gap;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__login-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: $header-login-container-gap;

    & > * {
      flex: 0 0 auto;
    }
  }

  &__login-logo {
    display: block;
    width: $header-login-w;
    height: $header-login-h;
  }

  &__login {
    font-size: $header-login-a-font;
    line-height: $header-login-a-line;
    text-underline-offset: $header-login-a-und-off;
    line-height: 1;
  }

  @media (max-width: $min-content-w * 1px) {
    &__logo-container {
      padding-left: $header-logo-container-p;
    }

    &__login-logo {
      display: none;
    }
  }
}

.logo {
  width: $logo-w;
  height: $logo-h;
}

.logo-subtext {
  width: $logo_subtext-w;
  height: $logo_subtext-h;
}

.main {
  // max-height: $main-h;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-flow: column nowrap;
  padding-top: $main-pt;
  padding-bottom: $main-pb;

  &__full-height {
    flex: 1 1 auto;
  }

  &__auto-height {
    flex: 0 0 auto;
  }
}
.greeting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
  overflow-x: hidden;
  gap: 1rem; // for safety
  padding-bottom: $greeting-pb;
  padding-right: $greeting-pr;

  &__text-container {
    flex: 1 0 240px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    gap: $greeting-text-container-gap;
    padding-top: $greeting-text-container-pt;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    margin: 0;
    max-width: 500px; // for safety
    padding-left: $greeting-subtitle-pl;
    font-size: $greeting-subtitle-font;
    line-height: $greeting-subtitle-line;

    @media (max-width: $min-content-w * 1px) {
      & > br {
        display: none;
      }
    }
  }

  &__img {
    flex: 0 0 auto;
  }
}
.greeting-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: $greeting-actions-pr;
  flex-wrap: wrap;
  gap: $greeting-actions-min-gap;

  &__download {
    flex: 0 0 auto;
    font-size: $greeting-download-font;
    font-family: "Montserrat";
    line-height: $greeting-download-line;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }

  &__brands {
    gap: $greeting-brands-gap;
  }

  @media (max-width: $min-content-w * 1px) {
    justify-content: center;
  }
}

.brand-badges {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  & > * {
    flex: 0 0 auto;
  }

  a {
    text-decoration: none;
    line-height: 0;
  }

  &__appstore {
    img {
      max-width: $apple-badge-max-w;
      height: auto;
    }
  }

  &__play {
    & > img {
      max-width: $play-badge-max-w;
      height: auto;
    }
  }
}

.cookie {
  background: $dark-gray;
  position: relative;

  &__container {
    height: $cookie-container-h;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: $cookie-container-pr;
  }

  &__message {
    font-size: $cookie-message-font;
    line-height: $cookie-message-line;
  }

  &__float-button {
    position: absolute;
    top: 50%;
    right: $cookie-float-button-right;
    transform: translateY(-50%);
    color: $white;
    background: $cookie-button;
    min-width: $cookie-float-button-min-w;
    padding: $cookie-float-button-p;
    border: $cookie-float-button-border-w solid $white;
    border-radius: $cookie-float-button-border-r;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: $black;
    }
  }
}

.mission {
  padding-top: $mission-pt;
  padding-bottom: $mission-pb;
}

.motivations {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: $motivations-gap;

  &__card {
    flex: 0 1 $motivations-max-card-w;
    min-width: 250px; // pointless value, just for safety. It helps when the cards are too small
    border: $motivations-card-border;
    border-radius: $motivations-card-border-r;
    padding: $motivations-card-p;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column nowrap;

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-size: $motivations-card-header-font;
    line-height: $motivations-card-header-line;
    margin: $motivations-card-header-m;
  }

  &__link {
    font-size: $motivations-card-link-font;
    line-height: $motivations-card-link-line;
  }
}

.mission-definition {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: $m-definition-gap;
  padding: $m-definition-pt 0 0 0;
  flex-wrap: wrap-reverse;

  &__img-container {
    flex: 1 0 $m-definition-img-basis;
    position: relative;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: $m-definition-img-max-w;
    transform-origin: top left;
    transform: translate(100%) rotateZ(90deg);
  }

  &__text-container {
    flex: 1 1 $m-definition-text-max-w;
    max-width: $m-definition-text-basis;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__text {
    max-width: $m-definition-textc-max-w;
  }

  @media (max-width: $min-content-w * 1px) {
    gap: $m-definition-gap-m;

    &__text-container {
      padding-right: $m-definition-text-pr-m;
    }

    &__img-container {
      flex: 1 0 100%;
      position: relative;
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    &__img {
      position: relative;
      top: auto;
      right: auto;
      transform: none;
    }
  }
}

.id-scanner {
  padding-bottom: $id-pb;

  &__bg-img-container {
    height: $id-img-container-h;
    position: relative;
    overflow: hidden;
    margin-bottom: $id-img-container-mb;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: $tuned-gradient;
    }
  }

  &__bg-img {
    flex: 0 0 auto;
    z-index: 0;
  }

  &__content {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: $id-content-gap;
  }

  &__img-container {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: $id-images-gap;
    position: relative;
    z-index: 2;
  }

  &__img {
    max-width: $id-images-img-max-w;
  }

  &__text-container {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 2;
  }

  &__text {
    max-width: $id-textc-max-w;
  }

  @media (max-width: $min-content-w * 1px) {
    &__text {
      max-width: 100%;
    }
  }
}

.bi {
  padding-top: $bi-pt;
  padding-bottom: $bi-pb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: $bi-gap;

  &__text {
    flex: 0 1 auto;
    padding-top: $bi-text-pt;
  }

  &__lead {
    max-width: $bi-text-lead-max-w;
  }

  &__img-container {
    flex: 1 1 $bi-img-container-max-basis;
  }

  &__img {
    max-width: 100%;
    max-height: $bi-img-max-height;

    &_mobile {
      display: none;
    }

    &_desktop {
      display: block;
    }
  }

  @media (max-width: $min-content-w * 1px) {
    overflow: hidden;

    &__img-container {
      margin: $bi-img-containter-m-m;
    }

    &__img {
      max-width: none;
      max-height: $bi-img-max-height-m;

      &_mobile {
        display: block;
      }

      &_desktop {
        display: none;
      }
    }
  }
}

.qr-pre {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: $qr-pb;

  & > *:not(:only-child):first-child {
    padding-bottom: $qr-first-container-pb;
  }

  &__container {
    flex: 1 1 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-start;

    &_primary {
      flex-basis: $qr-container-primary-basis;
    }

    &_secondary {
      flex-basis: $qr-container-secondary-basis;
      align-items: flex-start;
    }
  }

  &__img-container {
    width: 100%;
    min-height: $qr-img-min-h;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &_tuned::before {
      @extend .abs-full;
      content: "";
      z-index: 1;
      background: $tuned-gradient;
    }
  }

  &__night-img {
    width: $qr-bg-img-w;
    position: absolute;
    right: $qr-night-img-r;
  }

  &__text-container {
    position: relative;
    width: 100%;
    max-width: $qr-text-block-max-w;
    padding: 0 $qr-text-px;
    margin-top: $qr-text-block-mt;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
  }

  &__text-wrapper {
  }

  &__text {
    margin-bottom: $qr-text-mb;

    @media (max-width: $min-content-w * 1px) {
      br {
        display: none;
      }
    }
  }

  &__badges {
    gap: $qr-badge-gap;
  }

  &__phone-container {
    flex: 1 1 $qr-phone-container-basis;
    gap: $qr-phone-container-gap;
    padding: 0 $qr-phone-container-px;
    margin: $qr-phone-container-m;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
  }

  &__phone-wait-container {
    align-self: flex-start;
  }

  &__phone-wait,
  &__phone-cooking {
    max-width: $qr-phone-max-w;
  }

  &__phone-cooking-container {
    align-self: flex-end;
  }

  @media (max-width: $min-content-w * 1px) {
    &__bg-img {
      right: -51px;
      left: auto;
    }
    &__night-img {
      right: 0;
      left: 33px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.qr-gen {
  padding-top: $qrgen-pt;
  padding-bottom: $qrgen-pb;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $qrgen-gap;
  overflow: hidden;

  &__img-container {
    position: relative;
  }

  &__img {
    max-width: $qrgen-img-max-w;
  }

  &__arrow-container {
    position: absolute;
    top: $qrgen-arrow-top;
    right: $qrgen-arrow-right;
    transform: translateX(100%);
  }

  &__arrow {
    max-width: $qrgen-arrow-max-w;
  }

  &__sign {
    margin: $qrgen-sign-m;
    position: relative;
    left: $qrgen-sign-left;
  }

  &__text-container {
    width: 100%;
  }

  &__lead {
    max-width: $qrgen-text-max-w;
  }

  @media (max-width: 700px) {
    flex-direction: column-reverse;

    br {
      display: none;
    }

    &__arrow-container {
      position: absolute;
      top: $qrgen-arrow-top-m;
      right: $qrgen-arrow-right-m;
    }

    &__arrow {
      transform: rotateZ($qrgen-arrow-rot);
    }

    &__sign { 
      margin: $qrgen-sign-m-m;
    }
  }
}

.features {
  padding-top: $features-pt;

  &__text-container {
    max-width: $features-textcont-max-w;
    margin: 0 $features-textcont-mr 0 auto;
  }

  &__img-with-badges {
    max-width: $features-imgb-max-w;
    margin: 0 auto;
    padding: $features-imgb-p;
    position: relative;
  }

  &__top,
  &__left,
  &__bottom,
  &__right {
    position: absolute;
    max-width: $features-badges-max-w;
  }

  &__top {
    top: 22%;
    right: 31%;
    transform: translate(50%, -50%);
  }

  &__left {
    top: 41%;
    left: -1%;
    transform: translate(0%, -50%);
  }

  &__bottom {
    top: 76%;
    right: 60%;
    transform: translate(0%, -100%);
  }

  &__right {
    top: 63%;
    right: 0%;
  }

  @media (max-width: $min-content-w * 1px) {
    &__text-container {
      margin-bottom: 165px;
    }

    &__top {
      top: 8%;
      right: 27%;
    }

    &__left {
      top: -14%;
      left: 5%;
    }

    &__bottom {
      top: 87%;
      right: 69%;
    }

    &__right {
      top: 110%;
      right: -31%;
      transform: translate(-100%, -100%);
    }
  }
}
