/* ====================================
             BLOCK VALUES
=====================================*/

$landing-container-width: 1240px;
$landing-container-px: 16px;

/* ====================================
                COLORS
=====================================*/

$black: hsl(0, 0%, 0%);
$white: hsl(360, 100%, 100%);