.container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 0 var(--space-md);
}

.full-screen-container {
    width: 100%;
    height: 100vh;
}

.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;

    &__element {
        flex: 1 1 auto;
    }
}