/* ====================================
            COLOR SCHEMES
=====================================*/



/* ====================================
             BREAKPOINTS
=====================================*/

$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 600px;

$breakpoints: () !default;
$breakpoints: map-merge((
  "xl": $xl,
  "lg": $lg,
  "md": $md,
  "sm": $sm,
), $breakpoints);

/* ====================================
             BLOCK VALUES
=====================================*/

$container-width: 1032px;